@use '../base/theme.scss' as theme;

.createPres{
    background-color: theme.$secondary-color;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px ;
    margin: 87px 0px;

    &__title{
        color: #FFFF;
        display: flex;
        justify-content: flex-start;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        margin: 0;
        align-items: center;
    }
    &__icon{
        height: 24px;
        width: 24px;
        padding-left: 10px;
    }
    &__button{
        margin-top: 20px;
        height: 100px;
        width: 184px;
    }
}

.iconAddButton{
    height: 50px;
    width: 50px; 
    color: black;
}