@use '../base/theme.scss' as theme;

.prez-items {
  background-color: #a29bfe;
  height: 9.6rem;
  width: 14rem;
  margin-top: 15px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}

.allPrez{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 1rem;
  min-height: 20rem;
  padding: 1.5rem;
  margin: 1rem 2rem;
}

.prez-add {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input[type="file"]::file-selector-button {
    border: 2px solid red;
   align-content: flex-end;
    height: 8rem;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  & h2 {
    color: #252e34 !important;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  & > button {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(211, 207, 207, 0.973);
    }

  }

}

.uploadIcon{
  color: theme.$secondary-color;
  width: 1.3rem;
  height: 1.3rem;
}

.deleteButton{
  width: 1.9rem;
  height: 1.9rem;
  color: black;
  border:solid 2px red;
  border-radius: 50%;
  padding: 2px;
  align-content: center;
  & svg{
    color: red !important;
    width: 1.2rem;
    height: 1.2rem;
    
  }
}

.editButton{
  width: 1.9rem;
  height: 1.9rem;
  color: black;
  border:solid 2px #252e34;
  border-radius: 50%;
  padding: 2px;
  & svg{
    color: theme.$secondary-color;
    width: 1.4rem;
   height: 1.4rem;

  }
}
